<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Arac_Kiralama_Takip_Uygulamasi.Properties.Settings.girisConnectionString"
            connectionString="Data Source=DESKTOP-R3BNG0F;Initial Catalog=giris;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Arac_Kiralama_Takip_Uygulamasi.Properties.Settings.aracConnectionString"
            connectionString="Data Source=DESKTOP-R3BNG0F;Initial Catalog=arac;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Arac_Kiralama_Takip_Uygulamasi.Properties.Settings.musteriConnectionString"
            connectionString="Data Source=DESKTOP-R3BNG0F;Initial Catalog=musteri;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>